<footer>
    <div class='links'><a href='/terms.html'>Terms</a> | <a href='/privacy.html'>Privacy</a> | <a href='/contact.html'>Contact</a></div>
    <div class='copyright'><%- theme.copyright %></div>
</footer>