* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    line-height:1;
}

ol, ul {
	list-style: none;
}
body {
    background-color:#EEE;
    font-family: Arial, Helvetica, sans-serif;
}

.constrict {
    width:1100px;
    margin-left:auto;
    margin-right:auto;  
}

nav {
    background-color:#333;
    font-size:16px;
}

nav ul li.sep {
    color:#666;
    padding:25px 20px 25px 0px;
}

nav ul li.logo {
    font-weight:bold;
}
nav ul li.logo a:hover, nav ul li.logo a:active, nav ul li.logo a:link, nav ul li.logo a:visited {
    color:#DDD;
    text-decoration: none;
}

nav ul {
    text-align:left;
}
nav ul li {
    display:inline-block;
}
nav ul li a {
    padding:25px 20px 25px 0px;
    display:inline-block;
}
nav ul li a:hover, nav ul li a:active, nav ul li a:link, nav ul li a:visited {
    color:#AAA;
    text-decoration: none;
}
nav ul li a:hover {
    color:#FFF;
}

nav div.social {
    float:right;
}
nav div.social a {
    padding: 23px 10px 23px 10px;
    display:inline-block;
}
nav div.social img {
    height:22px;
}

section.jumbotron {
    text-align:center;
    font-size:85px;
    font-weight:bold;
    padding:150px 10px 150px 10px;
    background-color:#006699;
    color:#FFF;
}

section.page {
    margin-top:50px;
    margin-bottom:50px;    
    min-height:1200px;
}

section.page h1 {
    font-size:46px;
    font-weight:bold;
    margin-top:50px;
}

section.page h2 {
    font-size:26px;
    font-weight:bold;
    margin-top:50px;
}

section.page p {
    line-height:1.5;
    margin: 30px 0 30px 0;
}

footer {
    background-color:#333;
    padding:50px;
}
footer div.links {
    text-align:center;
    color:#666;
}
footer div.links a:hover, footer div.links a:active, footer div.links a:link, footer div.links a:visited {
    color:#AAA;
    text-decoration: none;
}
footer div.links a:hover {
    color:#FFF;
}
footer div.copyright {
    text-align:center;
    color:#AAA;
    margin-top:10px;
}
footer div.links a {
    color:#AAA;
}
