<html>
    <head>
        <%- include("/head") %>
    </head>
    <body>
        <%- include("/header") %>
        <%- include("/jumbotron") %>
        <section class='page'>
            <h1>Contact</h1>
            Not sure which model contact details should be on. Thinking "theme.contact" would be appropriate
        </section>
        <%- include("/footer") %>
    </body>
</html>